
<div *ngIf="userDataObj" class="card">
    <div class="card-body">
        <h6 class="card-title">{{userDataObj.firstName | titlecase}} {{userDataObj.lastName | titlecase}}</h6>
        <p *ngIf="userDataObj.isDeleted" [ngStyle]="{color:'red'}">Deleted</p>
        <p *ngIf="!userDataObj.isDeleted"  [ngStyle]="{color:'green'}">Active</p>
        <div class="row">
            <div class="col-6">
                <p>Login id</p>
                <p>First Name</p>
                <p>Last Name</p>
                <p>Age</p>
                <p>Date</p>
            </div>
            <div class="col-6">
                <p>{{userDataObj.login | titlecase}}</p>
                <p>{{userDataObj.firstName | titlecase}}</p>
                <p>{{userDataObj.lastName | titlecase}}</p>
                <p>{{userDataObj.age | titlecase}}</p>
                <p>{{userDataObj.date | date}}</p>
            </div>
        </div>
    </div>
</div>